table, th, td {
    border: 1px solid black;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header {
    text-align: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.grey {
    background-color:rgb(211,211,211);
}